{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
      integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <title>Tedious Tasks</title>
  </head>
  <body>
    <h1>Tedious Tasks</h1>
    {%if task_list%}

    <table class="pure-table pure-table-striped">
      <thead>
        <tr>
          <th>Task</th>
          <th>Time</th>
          <th>Person</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for task in task_list %}
        <tr>
          <td>{{task.description}}</td>
          <td>{{task.time}}</td>
          <td>{{task.person}}</td>
          <td><a href="{% url 'main:delete' task.id%}">X</a></td>
        </tr>
        {% endfor %}
        <td class="bold">
          Total Time
        </td>
        <td>
          {%if total_time.time__sum%}
          {{total_time.time__sum}} {%else%} 0 {%endif%} 
        </td>
        <td></td><td></td>
          
        </h2>
      </tbody>
    </table>

    {%else%}
    <h3>No tasks available</h3>
    {%endif%}
  </body>
  <hr />
  <h2>Add Task</h2>
  <form class="pure-form" action="{% url 'main:create' %}" method="post">
    {% csrf_token %} {{ task_form.as_p }}
    <input type="submit" class="pre-button" value="Add Task" />
  </form>
</html>
